.edit-post-container {
    width: 600px;
    height: 600px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

    text-align: center;
}

.demo-wrapper {
    border: 1px solid #ced4da;
}

.demo-editor {
    border: 1px solid #ced4da;
}
