
.latest-posts-bar-container {
    display: flex;
    align-items: center;
    border: 1px solid #d7d7d7;
    border-radius: 0.375rem;
    padding: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: auto;
}

.custom-card {
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    border: none !important;
    margin-bottom: 2px;
}

.custom-card-img {
    object-fit: cover;
    width: 75px !important;
    height: 75px;
}

.custom-card-title {
    font-size: 16px !important;
    text-decoration: none;
}

.custom-card-title:hover {
    text-decoration: underline;
}