.pagination-container {
  margin-top: auto; /* Push the pagination to the bottom */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem; /* Add some padding for spacing */
}

.app-container {
  display: flex;
  flex-direction: column;
}